<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script src="../static/layui/layui.js"></script>
    <link href="../static/layui/css/layui.css" rel="stylesheet">
    <link href="../static/css/admin.css" rel="stylesheet">
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--1.头部区域-->
    <div class="layui-header">
        <div class="layui-logo">管理界面</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <p class="User-permissions" id="users">权限</p>
        <ul class="layui-nav layui-layout-left">
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:">
                    <img alt="User Avatar" id="user-avatar" src=""
                         style="height: 35px; width: 35px;margin-right: 10px">
                    <span id="user-name">用户名</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a id="basic-info-link">基本资料</a>
                    </dd>
                    <dd><a id="security-link">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/logout">退出</a></li>
        </ul>
    </div>

    <div class="navigation">
        <div class="menuToggle"></div>
        <ul class="ulsss" lay-filter="test">
            <li class="list active leftdaohang" data-id="zhuye" data-url="first" mytitle="主页">
                <!--            style="&#45;&#45;clr:#f44336;"-->
                <a>
                    <span class="icon"><img src="../static/assets/zhuye.png"></span>
                    <span class="text">主页</span>
                </a>
            </li>
            <li class="list leftdaohang" data-id="shuju" data-url="admin_data" mytitle="数据管理"><a><span class="icon"><img
                    src="../static/assets/shuju.png"></span>
                <span class="text">数据管理</span>
            </a></li>
            <li class="list leftdaohang" data-id="renwu" data-url="admin_work" mytitle="任务管理"><a><span class="icon"><img
                    src="../static/assets/renwu.png"></span>
                <span class="text">任务管理</span>
            </a></li>
            <li class="list leftdaohang" data-id="shitu" data-url="view" mytitle="视图"><a><span class="icon"><img
                    src="../static/assets/shujushitu.png"></span>
                <span class="text">视图</span>
            </a></li>
            <li class="list leftdaohang" data-id="liaotianshi" data-url="admin_message" mytitle="留言"><a><span class="icon"><img
                    src="../static/assets/tanhua.png"></span>
                <span class="text">留言管理</span>
            </a></li>
        </ul>
    </div>
    <!--3.右侧主体内容区-->
    <div class="layui-body">
        <!--tabs标签-->
        <div class="layui-tab layui-tab-card" lay-allowclose="true" lay-filter="demo">
            <ul class="layui-tab-title">
                <!--   <li class="layui-this">角色管理</li>-->
            </ul>
            <div class="layui-tab-content">
            </div>
        </div>
    </div>


    <!--4.底部固定区域-->
</div>

<div class="modal" id="avatar-modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="avatar-content">
            <img alt="User Avatar" id="modal-avatar" src="">
            <input id="file-input" style="display: none;"  type="file">
            <br>
            <button id="change-avatar-btn">选择图片</button>
            <br>
            <p class="p1" id="p1">当前用户名:</p>
            <input id="username-input" placeholder="新用户名" type="text">
            <br>
            <p class="p3" id="p3">当前昵称:</p>
            <input id="nickname-input" placeholder="新昵称" type="text">
            <br>
            <p class="p2" id="p2">当前邮箱:</p>
            <input id="email-input" placeholder="新邮箱" type="email">
            <br>
            <button id="save-changes-btn">保存设置</button>
        </div>
    </div>

</div>


<!-- HTML结构 -->
<div class="overlay" id="security-overlay">
    <div class="security-popup">
        <span class="close1">&times;</span>
        <h2>安全设置</h2>
        <form id="security-form">
            <label for="old-password">旧密码:</label>
            <input type="password" id="old-password" name="old-password" required>

            <label for="new-password">新密码:</label>
            <input type="password" id="new-password" name="new-password" required>

            <button type="button" id="update-password-btn">确定修改</button>
        </form>
    </div>
</div>

<script src="../static/js/admin.js"></script>
<script src="../static/js/jquery.min.js"></script>
</body>
</html>