<!DOCTYPE html>
<html>
<head>
    <title>Scrapy Data</title>
</head>
<body>
<ul id="data-list"></ul>

<script src="../static/js/jquery.min.js"></script>
<script>
    function pollData() {
        $.ajax({
            url: '/get_data',
            method: 'GET',
            success: function (data) {
                // 在前端处理接收到的数据
                if (data.status === 'stop_polling') {
                    // 如果服务器告知停止轮询，停止轮询
                    console.log('Data fetching stopped by server.');
                    return;
                }
                updateUI(data);
                console.log("aaaaaaaaaaaaaa", data);
                if (data['state'] === 'True') {
                    // 如果状态为 'stop'，停止轮询
                    console.log('Data fetching stopped.');
                    return;
                }


                setTimeout(pollData, 2000);
            },
            error: function () {
                // 处理错误
                setTimeout(pollData, 5000); // 设置轮询间隔
            }
        });
    }

function updateUI(data) {
    // 在前端更新UI以显示接收到的数据
    var dataList = document.getElementById('data-list');
    dataList.innerHTML = ''; // 清除旧数据
    console.log("----", data.data);
    if (!data.data || !Array.isArray(data.data)) {
        console.error('Invalid data format:', data);
        return;
    }
    var items = data.data.reverse();
    console.log("items", items);
    for (var i = 0; i < items.length; i++) {
        var item = items[i];
        if (item.title && item.rating && item.country) {
            var listItem = document.createElement('li');
            var title = item.title;
            var rating = item.rating;
            var country = item.country;
            listItem.textContent = 'Title: ' + title + ', Rating: ' + rating + ', Country: ' + country;
            dataList.appendChild(listItem);
        } else if (item.num) {
            // 处理正在写入数据的信息
            var listItem = document.createElement('li');
            listItem.textContent = item.num;
            dataList.appendChild(listItem);
        }
    }
}


    $(document).ready(function () {
        pollData(); // 开始轮询
    });
</script>
</body>
</html>
