<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="../static/layui/css/layui.css" media="all" rel="stylesheet">
</head>
<script src="../static/js/jquery.min.js"></script>
<body style="height: 85vh">

<div class="layui-btn-container" style="display: flex;
        justify-content: center; /* 水平居中 */
        align-items: center; /* 垂直居中 */
        height: 50px; /* 设置容器高度，让按钮在垂直方向上居中 */;padding: 15px">

    <button class="layui-btn layui-btn-sm" id="moviesBtn"
            style="width: 60px;height: 50px;font-size: 20px;margin-left: 50px">电影
    </button>
    <button class="layui-btn layui-btn-sm" id="musicBtn"
            style="width: 60px;height: 50px;font-size: 20px;margin-left: 50px">音乐
    </button>
    <button class="layui-btn layui-btn-sm" id="newsBtn"
            style="width: 60px;height: 50px;font-size: 20px;margin-left: 50px">新闻
    </button>
</div>

<table class="layui-hide" id="test" lay-filter="test"></table>


<script charset="utf-8" src="../static/layui/layui.js"></script>
<script id="toolbarDemo" type="text/html">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    </div>
</script>

<!--<script type="text/html" id="barDemo">-->
<!--  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>-->
<!--  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
<!--</script>-->
<script id="barDemo" type="text/html">
    <!--    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
    <!--    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>-->
    <!--    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
</script>


<script>
    var currentHost = window.location.host;

    function show_img(t) {
        var t = $(t).find("img");
        //页面层
        layer.open({
            type: 1,
            skin: 'layui-layer-rim', //加上边框
            area: ['80%', '80%'], //宽高
            shadeClose: true, //开启遮罩关闭
            end: function (index, layero) {
                return false;
            },
            content: '<div style="text-align:center"><img src="' + $(t).attr('src') + '" /></div>'
        });
    }


    layui.use('table', function () {
        var table = layui.table;
        var currentCategory = 'get_movie'; // Default category

        function loadTableData(category, columns) {
            table.render({
                height: 'full',
                cellMinWidth: 80,
                elem: '#test',
                // 获取当前页面的主机（例如：www.example.com）

                //url: '/get_data.php?category=' + category,
                url: "/" + category
                , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板

                , limit: '10'
                , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                    title: '提示'
                    , layEvent: 'LAYTABLE_TIPS'
                    , icon: 'layui-icon-tips'
                }]
                , title: '用户数据表'
                , cols: columns
                , page: true
            });
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'getCheckData':
                        var data = checkStatus.data;
                        layer.alert(JSON.stringify(data));
                        break;
                    case 'getCheckLength':
                        var data = checkStatus.data;
                        layer.msg('选中了：' + data.length + ' 个');
                        break;
                    case 'isAll':
                        layer.msg(checkStatus.isAll ? '全选' : '未全选');
                        break;

                    //自定义头工具栏右侧图标 - 提示
                    case 'LAYTABLE_TIPS':
                        layer.alert('这是工具栏右侧自定义的一个图标按钮');
                        break;
                }

            });

            table.on('tool(test)', function (obj) {
                var data = obj.data;
                console.log(data)
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        console.log(data.id)
                        var formData = new FormData();
                        if (data.hasOwnProperty('singer')) {
                            formData.append('type', 'music')
                        }
                        if (data.hasOwnProperty('country')) {
                            formData.append('type', 'movie')
                        }
                        if (data.hasOwnProperty('from_source')) {
                            formData.append('type', 'new')
                        }
                        formData.append('data_id', data.id)
                        fetch('/del_data', {
                            method: 'POST',
                            body: formData
                        })  // 使用你的路由路径
                            .then(response => response.json())
                            .then(data => {
                                // 检查是否成功获取用户信息
                                if (data) {
                                    alert("删除成功")
                                    console.log("yes")
                                } else {
                                    // 处理获取用户信息失败的情况
                                    alert("删除失败")
                                    console.error('Failed to fetch user information');
                                }
                            })
                            .catch(error => {
                                // 处理请求错误
                                console.error('Error:', error);
                            });
                        obj.del();
                        layer.close(index);
                    });
                } else if (obj.event === 'edit') {

                    layer.prompt({
                        formType: 2
                        , value: data.email
                    }, function (value, index) {
                        obj.update({
                            email: value
                        });
                        layer.close(index);
                    });
                }
            });

        }
        const columns = [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'id', title: 'ID', width: 60, fixed: 'left', unresize: true, sort: true}
                , {field: 'title', title: '标题', width: 300, edit: 'text'}
                , {field: 'rating', title: '评分', width: 100, edit: 'text'}
                , {field: 'country', title: '国家', width: 160, edit: 'text'}
                , {field: 'address', title: '地址', width: 300, edit: 'text'}
                , {field: '', title: ''}
                // , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 100}
            ]]

        loadTableData(currentCategory, columns);


        // Button click events
        document.getElementById('moviesBtn').addEventListener('click', function () {
            currentCategory = 'get_movie';
            var columns = [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'id', title: 'ID', width: 60, fixed: 'left', unresize: true, sort: true}
                , {field: 'title', title: '标题', width: 300, edit: 'text'}
                , {field: 'rating', title: '评分', width: 100, edit: 'text'}
                , {field: 'country', title: '国家', width: 160, edit: 'text'}
                , {field: 'address', title: '地址', width: 300, edit: 'text'}
                , {field: '', title: ''}
                // , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 100}
            ]]
            loadTableData(currentCategory, columns);
        });

        document.getElementById('musicBtn').addEventListener('click', function () {
            currentCategory = 'get_music';
            var columns = [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'id', title: 'ID', width: 60, fixed: 'left', unresize: true, sort: true}
                , {field: 'music_name', title: '歌名', width: 150, edit: 'text'}
                , {field: 'music_id', title: '歌曲ID', width: 100, edit: 'text'}
                , {field: 'singer', title: '歌手', width: 120, edit: 'text'}
                , {field: 'Album_Name', title: '专辑名', width: 150, edit: 'text'}
                , {
                    field: 'Album_pic', title: '专辑图片', templet: function (d) {
                        return '<div onclick="show_img(this)" ><img src="' + d.Album_pic + '" ' + 'alt="" width="100px" height="100px"></a></div>';
                    }, width: 120,height:120
                }
                , {field: 'mp3_url', title: 'mp3', width: 200, templet: function(d){
                    return '<a href="' + d.mp3_url + '" target="_blank">' + d.mp3_url + '</a>';
                  }}
                , {field: '', title: ''}
                // , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 100}
            ]]
            loadTableData(currentCategory, columns);
        });


        document.getElementById('newsBtn').addEventListener('click', function () {
            currentCategory = 'get_news';
            var columns = [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'id', title: 'ID', width: 60, fixed: 'left', unresize: true, sort: true}
                , {field: 'title', title: '标题', width: 200, edit: 'text'}
                , {field: 'content', title: '正文', width: 250, edit: 'text'}
                , {field: 'urls', title: '发布时间', width: 160, edit: 'text'}
                , {field: 'from_source', title: '来源', width: 120, edit: 'text'}
                , {field: '', title: ''}
                // , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 100}
            ]]
            loadTableData(currentCategory, columns);
        });
    });
</script>


</body>
</html>
