
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.search-box {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.result-container {
    max-width: 1600px;
    margin: 0 auto;
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid #ccc;
}

th {
    padding: 8px;
    text-align: left;
}
td {
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    width: 100px;
    padding: 8px;
    text-align: left;
}


.select_1{
    margin-left: 10px;

    border-radius: 5px;
}











        .truncate {
            max-width: 200px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-wrap: break-word;
            width: 100px;
            cursor: pointer;
            /* 添加鼠标悬停时的样式 */
        }

        /* 模态框样式 */
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            background-color: #fefefe;
            padding: 20px;
            border-radius: 5px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }